<h1>Pages#about</h1>
<p>Find me in app/views/pages/about.html.erb</p>

<ul>
  <li>
    <a href="">Home</a>
  </li>
  <li>
    <a href="">Contact</a>
  </li>
  <li>
    <a href="">About</a>
  </li>
</ul>
