<ul>
  <li>
    <a href="">Home</a>
  </li>
  <li>
    <a href="">Contact</a>
  </li>
  <li>
    <a href="">About</a>
  </li>
</ul>


<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
